.archive {

    .post-item {
        display: flex;
        justify-content: start;
        align-items: center;
        border-left: 2px solid #7f8c8d;

        & div, & a {
            margin: 0.2rem 0.5rem;
        }
    }

    .post-time,
    .post-title-link {
        font-size: 1rem;
    }

    .post-title-link {
        display: block;
        color: #5454f8;
        word-break: keep-all;
        &:hover {
            border-bottom: 0;
            color: #267B54;
        }
    }
    .post-info {
        color: #7f8c8d;
    }
}