header {
    min-height: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em !important;
    margin: 0;
    
    .nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }

    #logo_small img {
        max-height: 25px;
    }
 
    #main_logo{ 
        width: 100%;
        display: flex;
        justify-content: center;

        #main_logo_subtitle{
            font-size: 12px;
            line-height: 1.4;
            text-align: center;
            margin: 0;
        }
    }
}
